* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*   outline: 1px solid red; */
}
body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

/* MAIN STYLES*/
main {
  margin: auto;
}
#wrap {
  display: flex;
  border: 1px solid #0000002f;
  border-radius: 10px;
  position: relative;
}
#sign-in-container {
  background-color: transparent;
  text-align: center;
  border-right: 1px solid #0000002f;
  padding: 2em;
  width: 500px;
}
#title {
  padding-bottom: 1.5em;
  width: 100%;
}
/* #form-container {
  padding: 1em;
} */
.inputs input {
  padding: 0.5em;
  font-size: 16px;
  width: 100%;
  margin-bottom: 1em;
  border-top: none;
  border-right: none;
  border-left: none;
}
.inputs input:focus {
  outline: none;
}

.sign-up-button button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  padding: 7px;
  width: 75%;
  letter-spacing: 0.5px;
  border: 1px solid #0000002f;
}
.sign-up-button,
.sign-in-link {
  padding: 1em;
}
.sign-in-link a {
  text-decoration: none;
  color: #168fe5;
  font-size: 18px;
}
#image-cover {
  text-align: center;
  width: 400px;
}
#image-cover img {
  object-fit: cover;
  width: 80%;
  height: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  #sign-in-container {
    width: 500px;
  }
  #image-cover,
  #image-cover img {
    display: none;
  }
  #sign-in-container {
    border-right: none;
  }
}
@media screen and (max-width: 600px) {
  #sign-in-container {
    width: 300px;
  }
  #image-cover {
    display: none;
    width: 5px;
  }
  #image-cover img {
    display: none;
    width: 250px;
  }
  footer div {
    display: block;
    padding: 0.5em;
  }
  #contact-us li {
    margin: 1.8px;
  }
  .sign-in-link button {
    width: 100%;
  }
  #rights-reserved ul li {
    margin: 0;
  }
}
