nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  align-items: center;
  padding: 1.5em;
}
nav a {
  color: #000;
  text-decoration: none;
}
nav svg {
  width: 35px;
  text-align: center;
}
#logo,
#user-info {
  margin: 0 3em;
}
#user-info {
  display: flex;
  justify-content: space-between;
}
#user-info #user {
  width: 50%;
  margin: 0 15px;
}
